.test {
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
}

.logo {
    height: 50px;
    font-size: 50px;
    padding: 10px;
    padding-left: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 0 #666, 7px 7px 0 #eee;
}

#login-btn {
    position: absolute;
    top: 2em;
    right: -2em;
    padding: 1em;
    background: black;
    font-size: .5em;
    color: white;
    -webkit-transition: right .5s ease-in-out;
}

#login-btn:hover {
    right: 0;
    cursor: pointer;
}

/*basic*/

#content {    
    background: #EEE;
    min-height: 535px;
}

.wrapper {
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
    background: white;
    border: 1px solid #C5CACE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 #ffffff;
}

footer {
    padding: 10px 0;
    text-align: center;
}

/*nav*/
nav {
    width: 400px;
    height: 40px;    
}

.nav {
    height: 100%;
}

.nav li {
    float: left;
    width: 20%;
    height: 100%;    
    text-align: center;
    margin-right: 5%;
}

.nav li a {
    display: block;
    color: white;
    height: 100%;
    line-height: 200%;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 3px #000;
}

.nav li a:hover, li.active a {
    color: #000;
}

/*slider*/
.slider-wrapper {
    position: relative;
    width: 42em;
    height: 28em;
    margin: 0 auto;
    padding: 2% 8%;
    box-shadow: 3px 3px 10px black;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.slider-btn {
    display: inline-block;
    position: absolute;
    height: 48px;
    width: 48px;
    z-index: 1000;
    top: 50%;    
}

.slider-btn:hover {
    cursor: pointer;
}

.prev-btn {    
    left: 10px;
    background: url('../images/icons/slider_prev.png');
}

.next-btn {
    right: 10px;
    background: url('../images/icons/slider_next.png');   
}

.save-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .2em 1em;
}

/*new list*/
.news {
    margin: 2em auto;
    width: 52em;
}

.new-item {
    background: #DFE2E6;
    border: 1px solid #AEB7BF;
    border-bottom: none;
}

.new-item:hover {
    background: #eee;
    cursor: pointer;    
}

.new-header {
    height: 20px;
    padding: 1em;
    box-shadow: 1px 1px 10px black;
}

.new-title {
    background: 
}

.new-content {
    padding: 1em;
    text-indent: 2em;
}

/*single new*/
.advertise {
    height: 10em;
    background: #DFE2E6;
    border: 1px solid #AEB7BF;
    margin-bottom: 1em;
}

.title {
    margin: 1em 0;
}

.related-list {
    height: 15em;
    background: #DFE2E6;
    border: 1px solid #AEB7BF;
}

.single-new .new-header {
    margin-bottom: 1em;
}

.single-new .new-content {
    height: 15em;
    background: #DFE2E6;
    border: 1px solid #AEB7BF;
}

/*admin*/
.welcome {
    margin-top: 1em;
    padding-left: 2em;
    font-weight: bold;
}

.nav-pane {
    border: 1px solid #b7c0c7;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px 5px;
}

.nav-pane li {
    -webkit-transition: all .2s ease-in;
}

.nav-pane li.active {
    background: #b7c0c7;
}

.nav-pane li:hover {    
    color: white;
    text-shadow: 2px 2px 4px black;
    background: #DFE2E6;
    cursor: pointer;
}


.admin-wrapper h2 {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em 0;
}

.pane ul li{
    padding: .5em 0;
    text-align: center;
}

.select {
    display: inline-block;
}

#content div.content {
    display: none;
}

.content ul .item-title{
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    background: #DFE2E6;
    border-bottom: 1px solid #b7c0c7;
}

.content .item {
    border: 1px solid #b7c0c7;
    border-radius: 5px 5px;
    border-bottom: none;
}

.content .item:last-child {
    border-bottom: 1px solid #b7c0c7;
}

.data-item {
    padding: .5em 0;
}

.data-item label {
    display: inline-block;
    zoom: 1;
    padding: 0 0 0 5%;
    width: 25%;
}

.item-content {    
    display: none;
}

.item-title:hover {
    color: white;
    text-shadow: 2px 2px 4px black;
    cursor: pointer;
}

.item.active .item-title:hover {
    cursor: default;
}

/*component*/
.toggle, .toggle span {
    display: inline-block;
    zoom: 1;
}
.toggle {
    width: 8em;
    border: 1px solid #b7c0c7;
    border-radius: .2em;
}

.toggle span {
    width: 50%;
    padding: .2em 0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background .5s ease-in-out;
}

.toggle span.active {
    background: #b7c0c7;
    cursor: default;
}

/*admin main page*/
.chart-pane {
    padding: 1em;
}

.chart-pane h3 {
    padding: .5em 0;
    font-weight: bold;
}